:root{
--couleur-police-claire:white;
--couleur-police-sombre:black;
--couleur-fond-bandeau:rgb(43,51,65);
--couleur-fond-header:rgb(253, 199, 136);
--couleur-fond-contenu:white;
--couleur-titre:chocolate;
}

#bandeau {
    background-color: var(--couleur-fond-bandeau);
    text-align: left;
}
#bandeau ul{
    list-style:none;
    text-align: left;
    color: var(--couleur-titre);
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    font-size: 120%;

}
#bandeau li{
    color: var(--couleur-police-claire);
    font-weight:normal;
    font-size: 80%;
}

#header {
    

    background-color: var(--couleur-fond-header);
    text-align: center;
    color: var(--couleur-police-sombre);
    font-weight: bold;
    font-size: 100%;
}
#contenu {
    

    background-color:var(--couleur-fond-contenu);
    text-align:left;
    color:var(--couleur-police-sombre);
    font-weight:normal;
    font-size: 100%;
}

#contenu h1{
    border-top: 3px solid var(--couleur-fond-bandeau);
    border-bottom: 1px solid var(--couleur-fond-bandeau);
    font-size:large;  
    color: var(--couleur-titre);
    margin-top: 2px;
}
#contenu h2{
    font-size:medium;  
    color: var(--couleur-titre);
    padding: 0;
    margin: 0;
}
#contenu p{
    margin: 20px;
    margin-top: 0;
}

#contenu ul{
    list-style:none;
    text-align: left;
    color: var(--couleur-titre);
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    padding-bottom: 10px;
}
#contenu li{
    color: var(--couleur-police-sombre);
    font-weight:normal;
    margin-left:20px;
}

.right{
    text-align: right;
}
.center{
    text-align: center;
}

.portrait{
    width:300px;
    border:1px solid var(--couleur-police-claire);
    margin-top: 10px;
}
.lien{
    text-decoration: none;
    color:currentColor ;
}
td{
 vertical-align:top;
 padding: 10px;
}
