/*couleurs*/
:root {
    --couleur-police-gauche: white;
    --couleur-police-droite: black;
    --couleur-titre: #2BABE2;
    --couleur-fond-gauche: #222222;
    --couleur-fond-droite: white;
}

/*grid*/

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

.resume {
    grid-area: resume;
}

.photo {
    grid-area: photo;
    display: flex;
    align-items: center;
}

body {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

body {
    grid-template-areas:
        "photo resume"
        "sidebar content";
}

.hidden {
    display: none;
}

/*dimensions bloc*/

body {
    margin: 0 auto;
}

body * {
    margin: 0;
    padding: 0;
}

aside,
.photo,
.resume,
main {
    padding: 1em;
}

.bloc {
    margin: 2em 0 0 0;
}

.bloc:first-child {
    margin: 0;
}

/*Fonts*/

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Visby', serif;
}

.photo {
    text-align: center;
}

img {
    border: 1px solid white;
    max-width: 60%;
}

.titre {
    font-weight: bold;
}


h1 {
    margin: 0 0 0.5em 0;
    font-size: 2rem;
}

h2,
P {
    font-size: 1rem;
}

p {
    margin-top: 1rem;
}

ul p {
    margin-top: 0.2rem;
}

li {
    margin: 0.5rem 0 0 0;
    list-style: none;
}

.timeline li {
    margin-left: 0.8rem;
    list-style: disc;
}

.timeline {
    border-left: 1px solid var(--couleur-fond-gauche);
}

a {
    text-decoration: none;
    color: currentColor;
}

/*couleurs de fond*/

main,
.resume {
    background-color: var(--couleur-fond-droite);
}

aside,
.photo {
    background-color: var(--couleur-fond-gauche);
}

/*couleur police*/

main h2,
.resume h2,
.societe {
    color: var(--couleur-titre);
}

main,
.resume {
    color: var(--couleur-police-droite);
}

aside,
.photo {
    color: var(--couleur-police-gauche);
}

em {
    font-style: normal;
    font-weight: bold;
}

/* web responsive */

@media screen and (max-width: 40rem) {
    body {
        grid-template-areas:
            "photo photo"
            "resume resume"
            "sidebar sidebar"
            "content content";
    }

    .photo * {
        padding: 0;
        margin: 0;
    }

    .photo {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .resume {
        font-size: min(8vw, 5vh);
        line-height: 1.5;
        letter-spacing: 0.05em;
    }

    .hidden {
        display: block;
        flex: 1;
    }

    #metier {
        font-size: min(8vw, 5vh);
        text-align: center;
        font-family: 'Visby', serif;
    }

    #name {
        font-size: min(10vw, 7vh);
        text-align: center;
        font-family: 'Visby', serif;
        margin-top: 1em;
    }

    img {
        display: block;
        max-height: 60vh;
        max-width: 98%;
        flex: 1;
    }

    .resume h1,
    .resume h2 {
        display: none;
    }
}