/*couleurs*/
:root {
    --couleur-police-gauche: white;
    --couleur-police-droite: black;
    --couleur-titre: #2BABE2;
    --couleur-fond-gauche: #222222;
    --couleur-fond-droite: white;
}

/*dimensions bloc*/

body {
    margin: 0 auto;
}

body * {
    margin: 0;
    padding: 0;
}

aside,
main {
    padding: 1em;
}

.bloc {
    margin: 2em 0 0 0;
}

/*dimensions bloc texte*/

body {
    font-size: 16px;
}

.photo {
    margin: 0 auto;
    text-align: center;
}

img {
    border: 1px solid white;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 2rem;
}

h2,
P {
    font-size: 1rem;
}

p {
    margin-top: 1rem;
}

ul p {
    margin-top: 0.2rem;
}

li {
    margin: 0.5rem 0 0 0;
    list-style: none;
}

.timeline li {
    margin-left: 0.8rem;
    list-style: disc;
}

.timeline {
    border-left: 1px solid var(--couleur-fond-gauche);
}

/*couleurs de fond*/

main {
    background-color: var(--couleur-fond-droite);
}

aside {
    background-color: var(--couleur-fond-gauche);
}


/*Fonts*/
body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Visby', serif;
}

.titre {
    font-weight: bold;
}

/*couleur police*/

main h2,
.societe {
    color: var(--couleur-titre);
}

main {
    color: var(--couleur-police-droite);
}

aside {
    color: var(--couleur-police-gauche);
}

a {
    text-decoration: none;
    color: currentColor;
}

/* web responsive */
main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

body {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

body {
    grid-template-areas:
        "sidebar content";
}

img {
    max-width: 60%;
}

.hidden {
    display: none;
}


@media screen and (max-width: 40rem) {
    body {
        grid-template-areas:
            "sidebar sidebar"
            "content content";
    }

    .hidden {
        display: block;
        font-size: 10vw;
        font-family: 'Visby', serif;
        margin: 5vh 0;
        text-align: center;
    }

    #metier {
        font-size: 7vw;
    }

    img {
        max-height: 70vh;
        max-width: 98%;
    }

    .photo {
        height: 100vh;
    }

    .showed {
        display: none;
    }
}